<script>
function recarga(){
location.href=location.href
}
setInterval('recarga()',10000)
</script>

<h1>Listing numbers</h1>

<table>
  <tr>
    <th>Numerator</th>
    <th>Number</th>
    <th>Called</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @numbers.each do |number| %>
  <tr>
    <td><%= number.numerator.name %></td>
    <td><%= number.number %></td>
    <td><%= number.called %></td>
    <td><%= link_to 'Show', number %></td>
    <td><%= link_to 'Edit', edit_number_path(number) %></td>
    <td><%= link_to 'Destroy', number, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Number', new_number_path %>
