<script>
function recarga(){
location.href=location.href
}
setInterval('recarga()',10000)
</script>

<h1>Lista de numeros entregados</h1>

<table>
  <tr>
    <th>Numerador</th>
    <th>Numero</th>
    <th>puesto</th>
    <th>Llamado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @numbers.each do |number| %>
  <tr>
    <td><%= number.numerator.name %></td>
    <td><%= number.number %></td>
    <td><%= number.position.try(:name) %></td>
    <td><%= number.called %></td>
    <td><%= link_to 'Ver', number %></td>
    <td><%= link_to 'Editar', edit_number_path(number) %></td>
    <td><%= link_to 'Borrar', number, confirm: 'Esta ud seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>
