<%= form_for(@numerator) do |f| %>
  <% if @numerator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@numerator.errors.count, "error") %> prohibited this numerator from being saved:</h2>

      <ul>
      <% @numerator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :init %><br />
    <%= f.number_field :init %>
  </div>
  <div class="field">
    <%= f.label :current %><br />
    <%= f.number_field :current %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :backgroundcolor %><br />
    <%= f.text_field :backgroundcolor %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
