<div>
<h1 align="center">Llamador</h1>
<p id="notice"><%= notice %></p>

Puesto: <%= @position.name %>

<table width="100%" border="0">
  <tr>
    <th>Name</th>
    <th>cantidad en espera</th>
    <th>tiempo esperando</th>
  </tr>

<% @numerators.each do |numerator| %>
  <tr>
    <td align="center"><%= link_to 'primero de ' + numerator.name.to_s , numerator_position_call_first_number_path(numerator,@position) %></td>
    <td align="center"><%= numerator.current.to_s %></td>
    <td align="center"><%= numerator.created_at.to_datetime.to_s %></td>
    <td align="center"><%= (DateTime.now - numerator.created_at.to_datetime).to_f %></td>
  </tr>
<% end %>
</table>

</div>
